.navbar{
position:fixed;
top:20px;
left:50%;
transform:translateX(-50%);

width:90%;
height:75px;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 40px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.1);

z-index:9999;
border-radius:20px;
}

.nav-links{
display:flex;
gap:40px;
}

.nav-links a{
color:white;
text-decoration:none;
font-size:.95rem;
letter-spacing:2px;
text-transform:uppercase;
transition:.3s;
}

.nav-links a:hover{
color:#D4AF37;
}
